.el-header {
  padding: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.title {
  margin-top: 5px;
}
.data {
  padding: 0 80px;
  opacity: 0.7;
}
#focus {
  position: relative;
  top: 0;
  font-size: 5em;
  color: transparent;
  font-weight: 700;
  line-height: 1em;
  -webkit-text-stroke-width: 1.5px;
  --un-text-stroke-opacity: 1;
  -webkit-text-stroke-color: rgb(170 170 170 / var(--un-text-stroke-opacity));
  opacity: 0.35;
  user-select: none;
}
.tag-search {
  display: flex;
  align-items: center;
}
.cate {
  width: 770px;
  display: flex; /* 使用flex布局使得li可以横向排列 */
  justify-content: flex-start; /* 让li元素从左侧开始排列 */
  padding: 20px 0px 20px 80px;
}
.cate li {
  display: inline-block;
  color: gray;
  opacity: 0.5;
  margin-right: 20px;
  position: relative; /* 为下划线定位做准备 */
  cursor: pointer; /* 鼠标悬停时显示小手图标 */
}
.el-link {
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 0; /* 移除默认的ul内边距 */
}
.search {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: 30px;
}
.tableStyle {
  text-decoration: none;
}
.tableStyle:link {
  color: gray;
}
.tableStyle:hover {
  color: blueviolet;
}
.tableStyle:visited {
  color: blueviolet;
}
.footer {
  color: gray;
  opacity: 0.6;
  display: flex;
  justify-content: center;
}
