/* 导航栏容器 */
.navbar {
  padding: 0 20px; /* 左右内边距 */
}
.navbar a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;
  opacity: 0.6;
  outline: none;
}
a:hover {
  opacity: 1;
}
/* 导航栏包装器 */
.navbar-wrapper {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  box-sizing: border-box;
}

.content {
  display: flex; /* 使用 Flex 布局 */
  align-items: center; /* 垂直居中 */
}

.links {
  display: flex; /* 使用 Flex 布局 */
  gap: 1.2rem; /* 设置链接之间的间距 */
}
