/* 设置所有元素的默认字体样式 */
* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* 去除所有列表的默认样式 */
ul, ol, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh; /* 使用视口高度作为高度 */
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

/* 设置图片不会改变其尺寸比例 */
img {
  max-width: 100%;
  height: auto;
}


/* 设置标题的样式 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}


